<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @project.requirements %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<hr/>
<h3>Offers</h3>
<br/>
<% @project.offers.each do |offer| %>
  <strong>Description:</strong>
  <%= offer.description %>
  <br/>

  <strong>Time:</strong>
  <%= offer.time %>
  <br/>
  <strong>Budget:</strong>
  <%= offer.budget %>
  <br/>
  <br/>
  <% if @is_accepted == false %>
  <%= link_to 'Accepted', offer_accepted_path(@project,offer), data: { confirm: "Are you sure?\nNote: All the other offers for this project will be deleted and your project will not appear to programmers" }%>
  <%end%>
  <% end %>
  <br/>
  <hr/>
  <% if @project.status == "underway"%>
    <strong>This Project is:</strong>
    <%= @project.status.upcase %> |
    <%= link_to 'CHANGE TO COMPLETED', status_update_path(@project), data: { confirm: "You want to change the status of project to COMPLETED\nAre you sure?"} %>
    <hr/>
  <%elsif @project.status == "completed"%>
    <strong>This Project is:</strong>
    <%= @project.status.upcase %> |
    <%= link_to 'CHANGE TO UNDERWAY', status_update_path(@project), data: { confirm: "You want to change the status of project to UNDERWAY\nAre you sure?"} %> 
    <hr/>
  <% end %>
