

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container-login100">
			<div class="wrap-login100"> 
				<div class="login100-form ">
        
					<span class="login100-form-title ">	Sign up</span> <br/> 


                <div class="wrap-input100">
                  <%= f.label :name , class:"label-input100" ,placeholder:"Name" %><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input100" %>
                </div>

                <div class="wrap-input100">
                  <%= f.label :username, class:"label-input100" ,placeholder:"UserName" %><br />
                  <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"input100" %>
                </div>

                <div class="wrap-input100">
                  <%= f.label :email, class:"label-input100" ,placeholder:"Email" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input100" %>
                </div>

                <div class="wrap-input100">
                  <%= f.label :phone, class:"label-input100" ,placeholder:"Phone" %><br />
                  <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class:"input100" %>
                </div>

                <div class="wrap-input100">
                  <%= f.label :city, class:"label-input100" ,placeholder:"City" %><br />
                  <%= f.text_field :city, autofocus: true, autocomplete: "city", class:"input100" %>
                </div>

                <div class="wrap-input100">
                  <%= f.label :password , class:"label-input100" ,placeholder:"Password"%>
                  <% if @minimum_password_length %>
                  <em><% @minimum_password_length %> </em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"input100" %>
                </div>

                <div class="wrap-input100">
                  <%= f.label :password_confirmation , class:"label-input100" ,placeholder:"Password Confirmation"%><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input100" %>
                </div>

                <div class="container-login100-form-btn">
                  <%= f.submit "Sign up", class:"login100-form-btn" %>
                </div>
                <%= render "programmers/shared/links" %>
          </div>
            <%= image_tag("/assets/1.png", :alt => "sign_up_in_img" , class:"login100-more") %>
      </div>          
    </div>
<% end %>


