 <section>
 <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
      	<div class="row d-md-flex no-gutters slider-text align-items-end js-fullheight justify-content-end">
             <%= image_tag("/assets/6.svg", :alt => "" , class:"") %>
	        <div class="one-forth d-flex align-items-center  js-fullheight">
	        	<div class="text mt-5">
	        		<p class="mb-4 mt-5 pt-5">We have <span class="number" data-number="200000">0</span> great job offers you deserve!</p>
	                <h1 class="mb-5">Best FreeLancer Site In The World</h1>
                </div>
            </div>
        </div>
    </div>
</div>    
</section>

<section class="ftco-section services-section bg-primary">
      <div class="container">
        <div class="row d-flex">

          <div class="col-md-3 d-flex align-self-stretch">
            <div class="media block-6 services d-block">
               <%= image_tag("/assets/037-idea.svg", :alt => "" , class:"sizee") %>
               
              <div class="media-body sizee"> <br/>
               <h3 class="heading mb-3">Share it </h3>
                
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch">
            <div class="media block-6 services d-block">
               <%= image_tag("/assets/037-handshake.svg", :alt => "" , class:"sizee") %>
              <div class="media-body sizee"><br/>
                <h3 class="heading mb-3">Dealing</h3>
                
              </div>
            </div>    
          </div>

          <div class="col-md-3 d-flex align-self-stretch ">
            <div class="media block-6 services d-block">
              <%= image_tag("/assets/037-coding.svg", :alt => "" , class:"sizee") %>
              <div class="media-body sizee"><br/>
                <h3 class="heading mb-3 ">Coding</h3>
               
              </div>
            </div>      
          </div>

          <div class="col-md-3 d-flex align-self-stretch ">
            <div class="media block-6 services d-block">
               <%= image_tag("/assets/037-responsive.svg", :alt => "" , class:"sizee") %> 
              <div class="media-body sizee"><br/>
                <h3 class="heading mb-3">Published</h3>
                
              </div>
            </div>      
          </div>

        </div>
      </div>
    </section>

    <!-- section tow-->
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ">
          	<span class="subheading">Job Categories</span>
            <h2 class="mb-4">Top Categories</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-3 ">
        		<ul class="category">
        			<li><a href="#">Web Development <br><span class="number">354</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Software Development <br><span class="number">143</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Python <br><span class="number">100</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Django <br><span class="number">90</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        		</ul>
        	</div>
        	<div class="col-md-3 ">
        		<ul class="category">
        			<li><a href="#">Ruby On Rails &amp; Ruby <br><span class="number">100</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Javascript<br><span class="number">200</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Full Stack Developer <br><span class="number">300</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Back End <br><span class="number">150</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        		</ul>
        	</div>
        	<div class="col-md-3 ">
        		<ul class="category">
        			<li><a href="#">PHP Programming <br><span class="number">400</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Java<br><span class="number">100</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Front End  <br><span class="number">222</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Full Stack Developer  <br><span class="number">123</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        		</ul>
        	</div>
        	<div class="col-md-3 ">
        		<ul class="category">
        			<li><a href="#">Web Designer <br><span class="number">324</span> <span>Open position</span></span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">React <br><span class="number">564</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Express &amp; Mongoose <br><span class="number">234</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        			<li><a href="#">Software Development <br><span class="number">425</span> <span>Open position</span><i class="ion-ios-arrow-forward"></i></a></li>
        		</ul>
        	</div>
        </div>
    	</div>
    </section>

    <!-- section three-->

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 pr-lg-5">
						<div class="row justify-content-center pb-3">
		          <div class="col-md-12 heading-section ">
		          	<span class="subheading">Recently Added Jobs</span>
		            <h2 class="mb-4"> Hot FreeLancer Jobs</h2>
		          </div>
		        </div>
						<div class="row">
							<div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Frontend Development</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-primary text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
                         <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                
		              </div>
		            </div>
		          </div><!-- end -->

							<div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Full Stack Developer</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-warning text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
                            <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                 </div>
		            </div>
		          </div><!-- end -->

		          <div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Open Source Interactive Developer</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-info text-white badge py-2 px-3">Freelance</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                    <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>    
		                </div>
		            </div>
		          </div><!-- end -->

		          <div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Frontend Development</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-secondary text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                    <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                </div>
		            </div>
		          </div><!-- end -->

		          <div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Open Source Interactive Developer</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-danger text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                 <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                 </div>
		            </div>
		          </div><!-- end -->

		         	<div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Full Stack Developer</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-warning text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                 <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                 </div>
		            </div>
		          </div><!-- end -->

		          <div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Open Source Interactive Developer</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-info text-white badge py-2 px-3">Freelance</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                 <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                 </div>
		            </div>
		          </div><!-- end -->

		          <div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Frontend Development</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-secondary text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                 <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                 </div>
		            </div>
		          </div><!-- end -->

		          <div class="col-md-12 ">
		            <div class="job-post-item py-4 d-block d-lg-flex align-items-center">
		              <div class="one-third mb-4 mb-md-0">
		                <div class="job-post-item-header d-flex align-items-center">
		                  <h2 class="mr-3 text-black"><a href="#">Open Source Interactive Developer</a></h2>
		                  <div class="badge-wrap">
		                   <span class="bg-danger text-white badge py-2 px-3">FreeLancer</span>
		                  </div>
		                </div>
		                <div class="job-post-item-body d-block d-md-flex">
		                  <div class="mr-3"><span class="icon-layers"></span> <a href="#">FreeLancer website .</a></div>
		                  <div><span class="icon-my_location"></span> <span>Jeddah City, KSA</span></div>
		                </div>
		              </div>

		              <div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
		              	<div>
			                <a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
			                	<span class="icon-heart"></span>
			                </a>
		                </div>
		                 <%= link_to 'Apply Job', new_programmer_session_path, class:"btn btn-primary py-2"%>
		                 </div>
		            </div>
		          </div><!-- end -->
		        </div>
		      </div>
		      <div class="col-lg-3 sidebar">
		        <div class="row justify-content-center pb-3">
		          <div class="col-md-12 heading-section ">
		          	<span class="subheading">Board</span>
		            <h2 class="mb-4">Top Developer</h2>
		          </div>
		        </div>
		        <div class="sidebar-box ">
		        	<div class="border">
			        	<a href="#" class="company-wrap"><img src="" class="img-fluid" ></a>
			        	<div class="text p-3">
			        		<h3><a href="#">FreeLancer website .</a></h3>
			        		<p><span class="number">500</span> <span> projects</span></p>
			        	</div>
		        	</div>
		        </div>
		        <div class="sidebar-box ">
		        	<div class="border">
			        	<a href="#" class="company-wrap"><img src="" class="img-fluid" ></a>
			        	<div class="text p-3">
			        		<h3><a href="#">FreeLancer website .</a></h3>
			        		<p><span class="number">700</span> <span> projects</span></p>
			        	</div>
			        </div>
		        </div>
		        <div class="sidebar-box ">
		        	<div class="border">
			        	<a href="#" class="company-wrap"><img src="" class="img-fluid" ></a>
			        	<div class="text p-3">
			        		<h3><a href="#">FreeLancer website .</a></h3>
			        		<p><span class="number">700</span> <span> projects</span></p>
			        	</div>
			        </div>
		        </div>
		      </div>
				</div>
			</div>
		</section>


    <!-- section four-->

<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
        	<div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About</h2>
              <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Employers</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Register</a></li>
                <li><a href="#" class="py-2 d-block">Start your busniss</a></li>
               
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Workers</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">How it works</a></li>
                <li><a href="#" class="py-2 d-block">Register</a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text"> jeddah, KSA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+966 000000</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">example@ex.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
           
            
        </div>
      </div>
    </footer>