 <%= render  'projects/navbar_users/navbar_users' %>

<br/>

 <div class="col-md-12 heading-section"  style="width: 80%; position: relative;
  left: 20%; " >	
    <h3>Project</h3>
    <div class="card " >

                     <div class="card-header ">
                       <h5>  client name: <%= @project.customer.username %>  </h5>
                      </div>

                      <div class=" card-body">
                        <h6 class="card-title"> project name : <%= @project.name %> </h6>
                        <h6 class="card-title"> status: <%= @project.status %> </h6>
                        <h6 class="card-text"> description: <%= @project.description %></h6>
                        <h6 class="card-title">requirements: <%= @project.requirements %> </h6>
                        <h6 class="card-title"> budget: <%= @project.budget %></h6>
                      </div>
    </div>
    <hr/>
    
    <%= render 'form', offer: @offer %>

    

</div>