<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %>
      <h3>Customer:<%= render 'customers/nav'%></h3>
    <% elsif programmer_signed_in? %>
      <h3>Programmer:<%= render 'programmers/nav'%></h3>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
